main {
    padding: 10px 0 10px 10px;
}

.slider {
    height: 640px;
    position: relative;
}

.slider__btn {
    position: absolute;
    top: 30%;
    cursor: pointer;
    z-index: 10;
    color: white;
}

.slider__btn_left {
    left: 3%;
}

.slider__btn_right {
    right: 3%
}