main {
    padding: 10px 0 10px 10px;
}

.cinemaApp__info {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.cinemaApp__poster {
    width: 45%;
}

.cinemaApp__poster img {
    display: block;
    width: 100%;
}

.cinemaApp__description span {
    font-weight: bold;
}

.cinemaApp__description {
    width: 45%;
    font-size: 26px;
}

.cinemaApp__plot_short {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.cinemaApp__plot {
    text-align: center;
}